* {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

a:hover {
  cursor: pointer;
}

.navbar {
  position: fixed;
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 2;
}

.navbarLeft {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  font-size: 12px;
}

.navbarLeft:hover {
  color: yellow;
}

.loginContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formInfo {
  margin-bottom: 15px;
}

.formInfo label {
  display: block;
  margin-bottom: 15px;
  width: 300px;
}

.formInfo input[type="textRegister"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.formInfo input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submitRegister"] {
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgb(71, 71, 71);
  color: white;
}

button[type="submitRegister"]:hover {
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: grey;
  cursor: pointer;
  color: white;
}

.bottomImg {
  top: 50%;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
}

.bottomImg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bottomImg h1 {
  white-space: nowrap;
  position: absolute;
  font-size: 40px;
  color: white;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottomImg h2 {
  position: absolute;
  font-size: 40px;
  color: rgb(184, 0, 83);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactForm {
  display: none;
  background: white;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 60px;
  padding-bottom: 30px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.contactForm form {
  width: 100%;
}

.formInfo {
  margin-bottom: 15px;
  width: 100%;
}

.formTitle h1 {
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

.formInfo label {
  display: block;
  margin-bottom: 15px;
}

.formInfo input[type="text"],
.formInfo input[type="email"],
.formInfo select,
.formInfo textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.formInfo textarea {
  resize: vertical;
}

.formButtons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formButtons button:not(:last-child) {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: blue;
  color: white;
}

button[type="button"] {
  background-color: red;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbarLeft {
    padding: 10px;
    font-size: 10px;
  }

  .topImg h1 {
    font-size: 28px;
  }

  .parentContainer h1 {
    font-size: 24px;
    width: 90%;
  }

  .bottomImg h1,
  .bottomImg h2 {
    font-size: 30px;
  }
}